@use "../../../styles/abstracts/variables" as v;
@use "../../../styles/abstracts/mixins" as m;

.add-to-cart-button,
.reviews__action--write {
  @include m.button-base(v.$color-black, v.$color-white);
}

.product-overview__actions {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
}
