@use "../../../styles/abstracts/variables" as v;

.header-links {
  ul {
    display: flex;
    gap: 24px;
    font-size: 16px;
    font-weight: 400;
  }

  a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: v.$color-black;
  }

  li {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

@media (max-width: 768px) {
  .header-links {
    display: none;
  }
}
