@use "@/styles/abstracts/variables" as v;

.breadcrumb__item {
  display: inline-flex;
  align-items: center;
}

.breadcrumb__item--active {
  color: v.$color-black;
}

.breadcrumb__current {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.breadcrumb__link {
  text-decoration: none;
  color: inherit;
}

.breadcrumb__link:hover {
  color: v.$color-black;
}
