.u-flex {
  display: flex;
}

.u-flex-wrap {
  flex-wrap: wrap;
}

.u-align-center {
  align-items: center;
}

.u-justify-between {
  justify-content: space-between;
}

.u-justify-center {
  justify-content: center;
}

.u-gap-8 {
  gap: 8px;
}

.u-gap-12 {
  gap: 12px;
}

.u-gap-20 {
  gap: 20px;
}

.u-mb-24 {
  margin-bottom: 24px;
}

.u-mb-28 {
  margin-bottom: 28px;
}

.u-mb-40 {
  margin-bottom: 40px !important;
}

.u-w-full {
  width: 100%;
}
